.animated-heading {
  display: flex;
  flex-wrap: wrap;
}

.animated-heading-word {
  display: inline-flex;
  white-space: nowrap;
}

.animated-heading-char {
  display: inline-block;
}

.animated-heading-space {
  display: inline-block;
  width: 0.3em;
}